h1,
h2,
.nav-item,
.nav-link,
.feature-heading,
.feature-para,
.footer-message,
.breed {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/*********************** Navigation Bar *************************/

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.iphone-mockup {
  top: 160px;
  width: 23%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 1;
  right: 22%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .iphone-mockup {
    position: static;
    transform: rotate(0deg);
    width: 60%;
  }
}

/*********************** Features Section ******************/

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 4rem 0 4rem 0;
}

.feature-box {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.icon {
  color: #ef8172;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-heading {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.feature-para {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  margin: auto;
  text-align: center;
  color: #8f8f8f;
}

/************************** Testimonial Sections *******************/

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

/******************** Pricing Section *****************/

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.breed {
  font-weight: 900;
}

/*************** Footer Message ******************/

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
}

.footer-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.3rem;
  font-weight: 900;
  color: #fff;
  line-height: 1.5;
}

/*******************Footer Section  ****************/

#footer {
  background-color: #fff;
  text-align: center;
  line-height: 2rem;
  padding: 7% 15%;
  color: #8f8f8f;
  font-weight: 400;
}
.social-icons {
  margin: 20px 13px;
  color: black;
}
